@model List<Livro>
@{
    ViewData["Title"] = "Listagem de Livros";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        footer{
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" method="POST">
                <div class="form-group mb-2">
                    <select name="TipoFiltro" class="form-control">
                        <option value="Autor">Autor</option>
                        <option value="Titulo">Título</option>
                    </select>
                </div>
                <div class="form-group mb-2 mx-sm-3">
                    <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Ano</th>
                        <th scope="row"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Livro l in Model)
                    {
                        <tr>
                            <td>@l.Id</td>
                            <td>@l.Titulo</td>
                            <td>@l.Autor</td>
                            <td>@l.Ano</td>
                            <td><a href="/Livro/Edicao/@l.Id">Editar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</footer>